body {
    background-color: #c8dadf;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .App {
    background-color: #61dafb;
    text-align: left;
  }
  
  .App-header {
    position: absolute;
    width: 747px;
    height: 64px;
    left: 153px;
    top: 119px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  input[type=number] {
    font-size: calc(10px + 2vmin);
    width: 4em;
  }
  
  textarea {
    font-size: calc(10px + 2vmin);
  }
  
  .ContractInfo {
    font-size: calc(10px + 1vmin);
    text-align: left;
    width: 90vw;
    height: 7em;
    padding: 2vw;
    overflow-x: scroll;
    white-space: pre;
  }

  .Start{
    position: relative;
    width: 299px;
    height: 104px;
    left: 200px;
    top: 531px;

    background: #293FFF;
    border-radius: 20px;
    border-color: #293FFF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    color: #FFFFFF;
  }

.Role{
  position: relative;
  top: 70px;
  left: 500px;
  font-size: 50px;
}

.DistributorButton{
    position: relative;
    top: 270px;
    left: 400px;
    transform: translate(-50%, -50%);
    width: 404px;
    height: 404px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 44px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }
  .DistributorButton:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .DistributorButton:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
  }
  .DistributorButton:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
  
  .PharmacyButton{
    position: relative;
    top: 270px;
    left: 700px;
    transform: translate(-50%, -50%);
    width: 404px;
    height: 404px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 44px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(238, 172, 230), rgb(179, 117, 182), red, violet, purple, blue, yellow);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }
  .PharmacyButton:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .PharmacyButton:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
  }
  .PharmacyButton:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }

  
.Upload{
    position: absolute;
    width: 284px;
    height: 88px;
    left: 195px;
    top: 131px;
  
    background: #293FFF;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  }
  
  .Upload-text{
    position: absolute;
    width: 500px;
    height: 240px;
    left: 521px;
    top: 151px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height, or 110% */
  
  
    color: #000000;
  
  }
  
  .Update{
    position: absolute;
    width: 284px;
    height: 88px;
    left: 1060px;
    top: 331px;
  
    background: #293FFF;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    border-radius: 20px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  }
  
  .Update-text{
    position: absolute;
    width: 500px;
    height: 240px;
    left: 621px;
    top: 351px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height, or 110% */
  
  
    color: #000000;
  
  }
  
  .List{
    position: absolute;
    width: 284px;
    height: 88px;
    left: 195px;
    top: 531px;
  
    background: #293FFF;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  }
  
  .List-text{
    position: absolute;
    width: 475px;
    height: 240px;
    left: 521px;
    top: 551px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height, or 110% */
  
  
    color: #000000;
  
  }
